<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/analyze" method="get">
    <textarea name="text" id="" cols="30" rows="10"></textarea>
    <br>
   <input type="checkbox" name='removepunc'> Remove punctuation
   <br>
   <input type="checkbox" name='fullcaps'> Uppercase
  
   <br>
   <input type="checkbox" name='newlineremover'> New line remover
   <br>
   <input type="checkbox" name='extraspaceremover'> Extra Space Remover
   <br>
   <button type="submit"> click me</button>
</form>
</body>
</html>

